* {
    box-sizing: border-box;
    background-image: url(/photos/background\ body.jpg);
    /* background-color: rgb(45, 32, 57); */
}

/* start header */
header .container {
    display: flex;
    border-bottom: 4px solid rgb(20, 16, 16);
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 25px;
    /* height: 2px; */
    width: 280px;
    text-align: center;
    border: 1.5px solid rgb(87, 21, 100);
}

ul li a:hover {
    color: rgb(139, 36, 36);
}

#but1,
#but2 {
    color: rgb(161, 168, 174);
    border-radius: 9px;
    margin-left: 50px;
    margin-top: 15px;
    padding: 5px;
    font-size: 20px;
}


/* end header */

.all{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: row wrap;
}

.hp {
    font-size: 30px;
    padding: 20px;
    background: none;
    margin-top: 80px;
    color: rgb(255, 255, 255);
}
h1{
    color: aliceblue;
}