body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: rgb(91, 91, 140);
    background-size: cover;
    background-position: center;
}

.login{
    width: 401px;
    height: 401px;
    color: rgb(11, 20, 29);
    border-radius: 50px;
    padding: 30px;
    background: transparent;
    border: 2px solid rgba(17, 10, 17, 0.466);
    backdrop-filter: blur(15px);
}

.login h1{
    font-size: 36px;
    text-align: center;
}

.login .input-box{
    height: 50px;
    margin: 50px;  
}

.input-box input{
background: none;
border: 2px solid rgb(71, 71, 23);
border-radius: 31px;
padding: 20px 45px 20px 20px;
margin-left: 25px;
width: 200px;
}

.input-box input::placeholder{
    color: rgb(13, 7, 7);
    font-size: 17px;
}

.login .remember_fogin{
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}


.remember_fogin a{
    color: #ffffff;
    text-decoration: none;
}

.remember_fogin a:hover{
    color: rgb(32, 59, 158);
}

.but {
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-left: 160px;
    border-radius: 10px;
     border: 0.5px solid ;
    text-decoration: none;
}

.but:hover{
    color: rgb(118, 27, 193);
}